@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(31 41 55);
}

::-webkit-scrollbar-thumb {
  background-color: #73abd1;
  border-radius: 20px;
  height: 10%;
}

:root {
  --gradient: linear-gradient(
    45deg,
    hsla(206, 64%, 8%, 1) 20%,
    hsla(240, 29%, 36%, 1) 100%
  );
}

body {
  background: var(--gradient);
  background-repeat: no-repeat;
  height: 100%;
}

html {
  height: 100%;
}

.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label {
  transform: translateY(-2.2rem) translateX(-1rem);
}
